<h1> Dragon ball page</h1>

<section class="row">
  <div class="col-12 col-sm-6">
    <h3>Agregar: {{ name() }}</h3>
    <input
      type="text"
      class="form-control mb-2"
      placeholder="Nombre del personaje"
      [value]="name()"
      (input)="name.set(txtName.value)"
      #txtName
    >
    <input
      type="number"
      class="form-control mb-2"
      placeholder="Poder del personaje"
      [value]="power()"
      (input)="power.set(txtPower.valueAsNumber)"
      #txtPower
    >

    <button class="btn btn-primary" (click)="addCharacterWithPower()">Agregar</button>
  </div>
  <div class="col-12 col-sm-6">
    <h3>Listado</h3>
    <ol>
      @for (character of characters(); track character.id;; let idx = $index) {
      @if (character.power > 1000) {
      <li>

        <span>{{idx}} {{ character.name }}</span>
        <strong [class.text-danger]="character.power > 9000" [class.text-info]="character.power <= 9000"> {{
          character.power }}</strong>
        <!-- <strong [ngClass]="powerClasses()"> {{ character.power }}</strong> -->
      </li>
      } @else {
        <li>No tiene suficiente poder</li>
      }
      }
    </ol>
  </div>
</section>
